@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiri|Playfair+Display&display=swap');


body{
    background-image: url(back.jpg);
    background-size: cover;
    background-position: center;
  

}
button{
    border:0px;
    margin:20px; 
    border-radius:25px;
    padding:15px;
    background-color: aqua;
    width:190px;
    text-align: center;
  
}



 .the_words{
   display: flex;
   flex-wrap: wrap;
    margin-top:55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:green;
    justify-content: space-around;
    font-family: 'Amiri', serif;
    font-family: 'Playfair Display', serif;

 }


 .head{
text-align: center;
font-family: 'Amiri', serif;
 }



 .footer{

    text-align: center;
    text-align: center;
font-family: 'Amiri', serif;
 }